<p>
<% if(locals.user && locals.user.id == comment.user.id) { %>
<samll><a href="/comment/destroy/<%= comment.id %>">X</a></samll>
<% } %>
<small><%= comment.user.name%></small> <%= comment.content %>
</p>