<div id="footer">
    <p>@POSTWALL. All Rights Reserved</p> 
    <div class="footerLink" >
        <a href="/">Home</a>
        <a href="/users/signin">Login</a>
        <a href="/users/signup">Register</a>
    </div>
</div>
