<header id="header">
    <div id="logo">
        <a href="/" >
            <img src="/images/Logo.png" alt="logo" />
        </a>
    </div>
    <div class="accounts">
    <% if(locals.user) { %>
        <a href="/users/profile/<%=locals.user._id %>"><%= user.name %></a>
        <a href="/users/signout">Sign Out</a>
    <% } else { %>
       <a href="/users/signin">Log In</a>
       <a href="/users/signup">Register</a>    
    <%}%>
    </div>    
</header>