<% if(token.isvalid) {%>
<form method="post" action="/users/resetpassword">
    <input type="password" name="password" placeholder="New Password" required>
    <input type="hidden" name="uid" value="<%=token.user%>">
    <input type="hidden" name="tokenId" value="<%=token._id%>">
    <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
    <input type="submit" value="submit">
</form>
<%} else {%>
<p>Please make the new request to reset you password token expired</p> 
<%}%>

