
        <form style="display: flex; justify-content: center; margin-top: 10px;" method="post" action="/users/forgetpassword">
            <input type="email" name="email" placeholder="Enter email">
            <input type="submit" style="margin-left: 5px;">
        </form>
