<link rel="stylesheet" href="/css/user.css">

<form method="post" action="/users/create-session">
    <div class="input-field">
        <label>Email</label>
        <input type="text" name="email" placeholder="Email" required>
    </div>

    <div class="input-field">
        <label>Password</label>
        <input type="password" placeholder="Password" name="password" required>
    </div>
    
    <div class="input-field">
        <input type="submit" value="Login">
    </div>
</form>
<p>
    <a href="/users/auth/google">Google Sign In/Sign Up</a>
</p>