body {
  background-color: rgba(206, 91, 255, 0.995);
}

#post-list {
  overflow: auto;
  max-height: 50%;
  background-color: rgb(126, 126, 126);
}

.show-hide {
  display: none;
}

.comment {
  background-color: aquamarine;
}

#home-main {
  display: flex;
  justify-content: space-around;
  height: 70%;
}

#users-friends {
  display: flex;
  flex-direction: column;
}
#users-friends #friends {
  height: 40%;
  overflow: auto;
}
#users-friends #users {
  overflow: auto;
}
#users-friends a {
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  color: aliceblue;
  text-align: left;
  margin-bottom: 0.3rem;
}
#users-friends a:hover {
  color: rgb(221, 255, 100);
}

#feed-posts {
  width: 60%;
}

#new-post-form {
  display: flex;
  flex-direction: column;
}
#new-post-form input[type=submit] {
  width: 15%;
  height: 7%;
  margin-top: 0.3rem;
}

input[type=submit], input[type=button] {
  border-radius: 10px;
  border: 2px solid aliceblue;
  color: aliceblue;
  background-color: gray;
}
input[type=submit]:hover, input[type=button]:hover {
  background-color: rgb(221, 255, 100);
}
