* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
}

#header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(80, 80, 247);
  padding: 10px;
}
#header h5 {
  color: aliceblue;
}
#header div a {
  text-decoration: none;
  color: aliceblue;
  border: 2px solid aliceblue;
  border-radius: 10px;
  padding: 5px;
  display: inline-block;
  margin-top: 10px;
}
#header div a:hover {
  background-color: rgb(186, 252, 139);
  color: black;
}

#footer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  position: absolute;
  bottom: 0;
  color: aliceblue;
  border-top: 2px solid aliceblue;
  background-color: rgb(80, 80, 247);
}
