* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  text-align: center;
}

#main-body {
  background-color: rgba(206, 91, 255, 0.995);
  margin: 0 2rem 0 2rem;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  height: 97vh;
}

#header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  padding: 10px;
}
#header h5 {
  color: rgb(225, 129, 255);
}
#header .accounts a {
  text-decoration: none;
  color: rgb(225, 129, 255);
  border: 2.5px solid rgb(225, 129, 255);
  font-weight: 550;
  border-radius: 10px;
  padding: 5px;
  display: inline-block;
  margin-top: 10px;
}
#header .accounts a:hover {
  background-color: rgb(225, 129, 255);
  color: white;
}

#logo img {
  width: 60%;
  height: auto;
  border-radius: 10px;
}

#logo {
  width: 20%;
}

#footer {
  display: flex;
  justify-content: space-between;
  width: 99%;
  margin: 0.3rem;
  margin-bottom: 0.2;
  position: absolute;
  bottom: 0;
  border: 2px solid white;
  background-color: rgba(206, 91, 255, 0.995);
  border-radius: 0.5rem;
  color: white;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

.footerLink {
  display: flex;
  width: 25%;
  justify-content: space-around;
}

.footerLink a {
  display: inline-block;
  color: white;
  margin-top: 0.8rem;
  text-decoration: none;
}
